@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

body {
	font-family: 'Roboto Slab', sans-serif;
}


/* Sidebar */

#sidebar {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -moz-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    -webkit-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    -ms-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    background-color: #24252d;
    position: relative;
    width: 420px;
}



#sidebar .toggle {
    text-decoration: none;
    -moz-transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    transition: left 0.5s ease;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: 0;
    display: block;
    color: #fff;
    height: 100px;
    left: 420px;
    line-height: 100px;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: 100px;
    top: 0;
    width: 100px;
    z-index: 10000;
}

#sidebar .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#sidebar .toggle:before {
    content: '\f0c9';
    font-size: 2rem;
    height: inherit;
    left: 0;
    line-height: inherit;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: inherit;
}

#sidebar.inactive {
    margin-left: -420px;
}

@media screen and (max-width: 1680px) {
    #sidebar {
        width: 380px;
    }
    #sidebar > .inner {
        padding: 0px 30px;
        width: 380px;
    }
    #sidebar .toggle {
        height: 100px;
        left: 380px;
        line-height: 100px;
    }
    #sidebar .toggle:before {
        font-size: 24px;
    }
    #sidebar.inactive {
        margin-left: -380px;
    }
    #sidebar > .inner > #search  {
	    width: 380px;
	    margin-left: -30px;
	}
	#menu {
		margin-top: 30px;
	}
	.featured-posts {
		margin-left: -30px!important;
		margin-right: -30px!important;
		padding: 30px!important;
	}
}

@media screen and (max-width: 1280px) {
    #sidebar {
        box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 10000;
    }
    #sidebar.inactive {
        box-shadow: none;
    }
    #sidebar > .inner {
        -webkit-overflow-scrolling: touch;
        height: 100%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
    }
    #sidebar > .inner:after {
        content: '';
        display: block;
        height: 4em;
        width: 100%;
    }
    
    }
    #sidebar .toggle:before {
        font-size: 1.5rem;
        color: #fff;
    }
    body.is-preload #sidebar {
        display: none;
    }
}
/* Menu */
#menu {
	margin-top: 50px;
}

#menu ul {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-family: 400;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
}

#menu ul a,
#menu ul span {
	color: #fff;
    border-bottom: 0;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 300;
    padding: 15px 0px;
}
#menu ul li ul a,
#menu ul li ul span {
    padding: 10px 0px;
}

#menu ul a:hover,
#menu ul span:hover {
    color: #535ba0;
}

#menu ul a.opener,
#menu ul span.opener {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    position: relative;
}

#menu ul a.opener:before,
#menu ul span.opener:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#menu ul a.opener:before,
#menu ul span.opener:before {
    -moz-transition: color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    color: #fff;
    content: '\f078';
    position: absolute;
    right: 0;
}

#menu ul a.opener:hover:before,
#menu ul span.opener:hover:before {
    color: #535ba0;
}

#menu ul a.opener.active + ul,
#menu ul span.opener.active + ul {
    display: block;
}

#menu ul a.opener.active:before,
#menu ul span.opener.active:before {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#menu > ul > li {
    border-top: solid 1px #1a1b20;
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}

#menu > ul > li > ul {
    color: #9fa3a6;
    display: none;
    margin: 0.5em 0 1.5em 0;
    padding-left: 1em;
}

#menu > ul > li > ul a,
#menu > ul > li > ul span {
    font-size: 13px;
}

#menu > ul > li > ul > li {
    margin: 0.125em 0 0 0;
    padding: 0.125em 0 0 0;
}

#menu > ul > li:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}